/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb when hovered */
  }
  
  /* For Firefox */
  html {
    scrollbar-width: thin; /* 'auto' or 'thin' */
    scrollbar-color: #888 #f1f1f1; /* thumb color, track color */
  }
  
  
  
  /* CSS Reset */
  /*
    1. Use a more-intuitive box-sizing model.
  */
  *, *::before, *::after {
      box-sizing: border-box;
    }
    /*
      2. Remove default margin
    */
    * {
      margin: 0;
    }
    /*
      Typographic tweaks!
      3. Add accessible line-height
      4. Improve text rendering
    */
    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }
    /*
      5. Improve media defaults
    */
    img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
    }
    /*
      6. Remove built-in form typography styles
    */
    input, button, textarea, select {
      font: inherit;
    }
    /*
      7. Avoid text overflows
    */
    p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word;
  
    }
    p{
      margin:0;
    }
    /*
      8. Create a root stacking context
    */
  
   
    #root, #__next {
      isolation: isolate;
    }
  
    ul {
      list-style-type: none;
    }
    li{
      cursor:pointer;
    }
  
  
  
    /* Font */
    .roboto-regular {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .roboto-medium {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    .roboto-bold {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .roboto-black {
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-style: normal;
    }
    
  body{
      font-family: "Roboto", sans-serif;
      background-color: #F0F0F0;
      padding:0;
      margin:0;
      overflow-x:hidden;
  
}

a{
  text-decoration:none;
}

.text-primary{
    color:#1C68C0 !important; 
}

.bg-primary{
    background-color:#1C68C0 !important; 
}

.text-secondary{
    color:#FDFD66 !important; 
}

.bg-secondary{
    background-color:#FDFD66 !important; 
}

.text-light{
    color:#EFEEF7 !important; 
}

.bg-light{
    background-color:#EFEEF7 !important; 
}

.bg-primary-logo {
  position: relative;
  overflow: hidden;
  width: 14rem;
  transform: translateX(-2rem);
}


.bg-primary-logo::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1C68C0;
  transform: skew(-20deg);
  transform-origin: top left;
  z-index: -1;
}

.text-container {
  position: relative;
  transform: skew(20deg);
}
/* style="" */

.text-container h1 {
  transform: skew(20deg);
}
.nav-link {
  font-weight: bold;
  text-transform: uppercase;
  color: #1C68C0;
  border-right: 1px solid #1C68C0;
  padding: 0 18px;
  transition: opacity .3s ease;
}

.nav-link:hover{
  opacity:0.5;
  color:#1C68C0;
}


.button{
  font-weight: bold;
  text-transform: uppercase;
  color: #1C68C0;
  background-color:#ffffff;
  border:none;
  padding:8px 16px;
  border-radius:10px;
}


/* Home */

.home__img{
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  object-fit:cover;
  width:60rem;
  height:100%;
}
.home__logo{
  width:10rem;
  height:10rem;
}
.home__title{
  font-size:48px;
  font-weight:900;
  color:#ffffff;
}
.home_paragraph{
  font-size:16px;
  line-height:1.7;
}

.home__button{
  font-weight: bold;
  text-transform: uppercase;
  color: #1C68C0;
  background-color:transparent;
  border:2px solid #1C68C0;
  padding:10px 24px;
  font-size:18px;
  transition:all .3s ease;
}

.home__button:hover{
  font-weight: bold;
  text-transform: uppercase;
  color: #1C68C0;
  background-color:white;
  border:2px solid #1C68C0;
  padding:10px 24px;
  font-size:18px;
  transform:translateY(-2px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* About Us */

#about-us{
  padding-top:8rem;
}

.title-section-container-1{
    background-color: #1C68C0; /* Blue color */
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px 20px 5px;
    text-align: center;
    position: relative;
    width: 340px; 
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    transform:translateY(-52px);

}
.title-section-container{
  background-color: #1C68C0; /* Blue color */
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 20px 20px 5px;
  text-align: center;
  position: relative;
  width: 340px; 
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);

}
.title-section-1{
  font-size:42px;
  font-weight:bold;
  text-transform:uppercase;
  color:#ffffff;
}

.about-us__img-container{
  position:relative;
  cursor:pointer;
}

.about-us__img{

}

.about-us__title-container {
  /* background-color: rgba(28, 104, 192, 0.5); */
}
.about-us__overlay{
  background: rgba(28, 104, 192, 0.5);
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  transition: all .3s ease-in-out;
}


.active > .about-us__overlay{
  bottom:-50px;
  top:75%;
  background: rgba(253, 253, 102, 0.5);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.active > .about-us__title-container > .about-us__img-title {
  top:100%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:64px;
  color:#1C68C0;
  font-weight:900;

}


.about-us__img-title{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:48px;
  color:#ffffff;
  text-transform:uppercase;
  font-weight:bold;
  white-space:nowrap;
  cursor:pointer;
  transition:all .3s ease-in-out;
}
.about-us__img-container:hover .about-us__img-title{
  transform: translate(-50%, -50%) scale(1.4);
}

.active:hover > .about-us__title-container > .about-us__img-title {
  transform: translate(-50%, -50%);
}

.about-us__text-container{
  padding:16px 0px;
  color:#1C68C0;
  text-align:center;
  margin:0 auto;
  max-width:62rem;
  font-size:18px;
}

.about-us__title{
  font-size:28px;
  font-weight:900;
}

.about-us__paragraph{
  margin-top:24px;
  line-height:1.7;

}

.about-us__text-hidden{
  display:none;
}

.about-us__paragraph-2{
  margin-top:24px;
  line-height:1.8;
  font-size:32px;
  font-weight:bold;
}

/* Gallery */



.gallery__img {
  width: 100%;
  object-fit: cover;
}

/* Video */

#video{
  padding:10rem 0;
}
.video__title{
  text-transform:uppercase;
  font-size:32px;
  font-weight:bold;
  padding:16px;
  background-color:#1C68C0;
  color:#ffffff;
}
.video__paragraph{
  color:#1C68C0;
  font-size:18px;
  margin-top:12px;

}

/* Latest News */
#latest-news{
padding-top:8rem;
}

.latest-news__date{
  color:#1C68C0;
  font-size:16px;
  text-align:center;
  padding:16px 0;
}

.latest-news__title{
  color:#1C68C0;
  font-size:24px;
  font-weight:bold;
  text-align:center;;
}

.latest-news__paragraph{
  color:#1C68C0;
}

.latest-news__see-more{
  color:#1C68C0;
  display:inline-block;
  padding:24px 0;
  font-weight:bolder;
  text-align:center;

}

.latest_news__border-right {
  border-right: 1px solid #1C68C0;
}

.latest-news__btn{
  border:none;
  padding:12px 24px;
  background-color:#ffffff;
  border-radius:6px;
  font-weight:bold;
  color:#1C68C0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact__header-title{
  font-size:48px;
  font-weight:bold;
  text-transform:uppercase;
  color:#ffffff;
  background-color:#1C68C0;
  padding:24px 0 58px 0;
  text-align:center;
}

.contact__list{
  transform: translateY(-62px);
}
.contact__border-x{
  border-right:12px solid #FDFD66;
  border-left:12px solid #FDFD66;

}

#footer{

}

.footer__navlink{
  color:#ffffff;
}

.footer__list-title{
  font-size:18px;
  margin-bottom:28px;
}

.contact__map{
  overflow:hidden;
  max-width:100%;
  width:100%;
  height:500px;
}
.contact__map-container{
  transform: translateY(-48px);
}

@media (max-width: 1200px) {
  .about-us__paragraph-2{
    font-size:28px;
  }
  
}

@media (max-width: 992px) {
  .about-us__paragraph-2{
    font-size:24px;
  }
  .latest_news__border-right {
    border-right: none;
  }

  .contact__border-x{
   border:none;
  
  }

  .contact__list{
    padding:0 12px;
  }

  .nav-link {
    border-right: none;
  }

  
}

@media (max-width: 768px) {

  .about-us__paragraph-2{
    font-size:20px;
  }

  .footer__logo{
    width:9rem;
    height:9rem;
  }

  .contact__list{
    transform: translateY(2px);
  }
  
  .latest-news__btn{
    width:100%;
    padding:16px 24px;
    font-size:18px;
  }

  .contact__map{
    overflow:hidden;
    max-width:100%;
    width:100%;
    height:350px;
  }

  .contact__map-container{
    transform: translateY(0);
    padding:16px 0;
  }

  .contact__header-title{
    font-size:32px;
    padding:24px 0 24px 0;

  }
}


/* ------------------------ */
/* Components */
/* ------------------------ */

.page__main-container{
  background-color:#1C68C0;
  padding:48px 0px;

  overflow:hidden;
}
.page__main-title{
  font-weight:900;
  font-size:64px;
  color:#ffffff;
  text-transform:uppercase;
  position:relative;
  z-index:5;
}
.page__main-paragraph{
  color:#ffffff;
  font-size:18px;
  max-width:58rem;
}
.page__main-img{
  width:20rem;
  position:absolute;
  right:0;
  opacity:0.4;
  top:-65px;
}

@media (max-width: 1200px) {


  
}

@media (max-width: 992px) {
  .page__main-title{
    font-size:48px;
  }
  .page__main-paragraph{
    font-size:16px;
  }
  .page__main-img{
    width:18rem;
  }

}

@media (max-width: 768px) {
  .page__main-title{
    font-size:42px;
  }
  .page__main-paragraph{
    font-size:16px;
  }
  .page__main-img{
    width:16rem;
  }

}






/* ------------------------ */
/* About Us */
/* ------------------------ */

.about_us-page__container{
  position:relative;
  cursor:pointer;
  overflow:hidden;

}

.about_us-page__img{
  transition: all .3s ease-in-out;
}

.about_us-page__container-title{
  background: rgba(28, 104, 192, 0.5);
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
}

.about_us-page__title{
  display:grid;
  place-items:center;
  height:100%;
  font-size:52px;
  text-transform:uppercase;
  font-weight:bold;
  color:#ffffff;
  opacity:0.6;
  transition: all .3s ease-in-out;
}


.about_us-page__container:hover .about_us-page__title {
  transform: scale(1.4);
  font-weight:900;
  color:#ffffff;
  opacity:1;

}
.about_us-page__container:hover .about_us-page__img {
  transform: scale(1.2);
 
}
.about_us-page__container:hover .about_us-page__container-title{
  background:rgba(151, 71, 255, .4)
}

/* Our Story */
#about_us-page__our-story{
  background:#ffffff;
  position:relative;
  z-index:3;
}
.about_us-page__section-title{
  font-size:48px;
  color:#1C68C0;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
}

.about_us-page__our-story__title-date{
  background: rgba(28, 104, 192, 0.5);
  color:#ffffff;
  padding:14px 0;
  text-align:center;
  font-weight:bold;
  font-size:24px;

}
.about_us-page__our-story__bg-img{
  width:100%;
  height:100%;
  object-fit:cover;
  position:absolute;
  top:0;
  opacity:.3;
}

.about_us-page__our-story__img{
  border-radius:8px;
  transform:translate(32px,-82px);
  height:18rem;

}
.about_us-page__our-story__p{
  color:#1C68C9;
  font-size:18px;
  line-height:1.8;
  max-width:56rem;
  margin:0 auto;
}
.about-us-page__our-story__overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(255, 255, 255, .6);
  z-index:2;
}

/* Card */


.about_us-page__card{
  padding:8rem 0;
  position:relative;

}

.about_us-page__card__img{
  height: 100%;
  width:100%;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  opacity: 0.1;
  object-fit: fit;
}

.about_us-page__card__title{
  font-weight:bold;
  font-size:42px;
  color:#1C68C9;
  text-transform:uppercase;
  text-align:center;
}

.about_us-page__card__p{
  color:#1C68C9;
  text-align:center;
  max-width:52rem;
  margin:0 auto;
  line-height:1.8;
  margin-top:64px;
  font-size:18px;

}


@media (max-width: 768px) {

  .about_us-page__card__p{
    width:100%;

  }
  .about_us-page__card{
    padding:6rem 0;
    position:relative;
  
  }
  
}

/* ------------------------ */
/* Contacts Page */
/* ------------------------ */

